<p id="notice"><%= notice %></p>

<h1>Tweeets</h1>

  <tbody>
    <section class="section">
      <div class="container">
        <div class="columns">
          <%= render 'trends' %>
          <%= render 'feed' %>
          <%= render 'who-to-follow'%>
        </div>
      </div>
    </section>

  
  </tbody>

<br>
